:root {
  /* Primary  */
  --paleBlue: hsl(225, 100%, 94%);
  --brightBlue: rgb(56, 41, 224);

  /* Neutral */

  --VPaleBlue: hsl(225, 100%, 98%);
  --desatBlue: hsl(224, 23%, 55%);
  --darkBlue: rgb(31, 47, 86);
  --white: hsl(255, 100%, 100%);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Red Hat Display", sans-serif;
  background-color: var(--paleBlue);
  /* background-image: url(/images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: 10%; */
  margin: 0;
}

.background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 50%;
  top: -2%;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 700px;
  border-radius: 15px;
  padding: 3rem;
  background-color: var(--white);
  background-image: url(https://dbean87.github.io/Order-summary-component/images/illustration-hero.svg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
  box-shadow: 0 15px 15px rgba(56, 41, 224, 0.2);
}

.card .container {
  position: relative;
  text-align: center;
  top: 33%;
  height: 66%;
}

.card h1 {
  font-size: 1.8rem;
  color: var(--darkBlue);
}

.card p {
  font-size: 1rem;
  margin: auto;
  font-weight: 400;
  color: var(--desatBlue);
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  line-height: 1.6rem;
  margin-bottom: 1.25rem;
}
.card .container h2 {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.card .flex-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--VPaleBlue);
  border-radius: 10px;
  padding: 1.25rem;
  margin-bottom: 1.5rem;
}

.music-icon {
  display: flex;
  width: 3.125rem;
  text-align: left;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.pricing {
  display: inline-block;
  line-height: 1.5rem;
  margin-left: 1.25rem;
}

.pricing span {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  color: var(--desatBlue);
  font-weight: 400;
}

.flex-box a {
  font-size: 0.75rem;
  color: var(--brightBlue);
  margin-left: auto;
  font-weight: 600;
}
.flex-box a:hover {
  text-decoration: none;
  opacity: 0.8;
}

.container button {
  height: 3.125rem;
  width: 100%;
  margin-bottom: 2rem;
  background-color: var(--brightBlue);
  color: var(--white);
  font-weight: 700;
  border-radius: 10px;
  border: none;
  box-shadow: 0 15px 15px rgba(56, 41, 224, 0.2);
  font-family: "Red Hat Display", sans-serif;
  transition: opacity 0.2s ease-in-out;
}

.container button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.container .cancel {
  text-decoration: none;
  font-family: "Red Hat Display", sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--darkBlue);
  opacity: 0.7;
}

.container .cancel:hover {
  opacity: 1;
}

@media only screen and (max-width: 500px) {
  .card {
    height: 567.5px;
    width: 326.2px;
    padding: 1.2rem;
  }

  .flex-box {
    padding: 1rem;
  }

  .container button {
    margin-bottom: 1rem;
  }

  .card h1 {
    font-size: 1.3rem;
  }

  .card .container {
    top: 30%;
  }

  .card .container h2 {
    font-size: 0.9rem;
  }

  .pricing span {
    font-size: 0.9rem;
  }
  .container p {
    font-size: 0.9rem;
  }

  .container .cancel {
    font-weight: 700;
  }
}
